<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Compare</title>
	</head>
	<body>
		<a href="./main.html">Main</a>
		<div id="application">
			<form>
				<label for="hotel">Hotel:</label>
				<select id="hotel" name="hotel" v-model="hotel1" @change="updateCurrentHotel(1)" required>
						<option value=""></option>
						<option value="Alpha">Alpha</option>
						<option value="Bravo">Bravo</option>
						<option value="Charlie">Charlie</option>
				</select>
				<pre>Number of days: {{interface1.numberOfDays}}</pre>
				<pre>Daily rate: R{{interface1.getDailyRate()}}</pre>
				<pre>Total: R{{interface1.total}}</pre>
				<pre>Features: {{interface1.getFeatures()}}</pre>
				<button type="button">Book</button>
			</form>
			<form>
				<label for="hotel">Hotel:</label>
				<select id="hotel" name="hotel" v-model="hotel2" @change="updateCurrentHotel(2)" required>
						<option value=""></option>
						<option value="Alpha">Alpha</option>
						<option value="Bravo">Bravo</option>
						<option value="Charlie">Charlie</option>
				</select>
				<pre>Number of days: {{interface2.numberOfDays}}</pre>
				<pre>Daily rate: R{{interface2.getDailyRate()}}</pre>
				<pre>Total: R{{interface2.total}}</pre>
				<pre>Features: {{interface2.getFeatures()}}</pre>
				<button type="button">Book</button>
			</form>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="./js/compare.js" type="module"></script>
	</body>
</html>