<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BOOKING: Home</title>
	</head>
	<body>
		<a href="./compare.html">Compare</a>
		<div id="application">
			<form action="../config/submit_user_data.php" method="post">
				<label for="first-name">First Name:</label>
				<input type="text" id="first-name" name="first_name" required><br>
				
				<label for="surname">Surname:</label>
				<input type="text" id="surname" name="surname" required><br>
				
				<label for="email">Email Address</label>
				<input type="email" id="email" name="email" required><br>
				
				<label for="number">Number of Days:</label>
				<input id="number"
						type="number"
						name="number"
						min="1"
						v-model="numberOfDays"
						@change="updateDates(0)"
						@keyup="updateDates(0)"
						required>
				<br>
				
				<label for="check-in-date">Check in Date:</label>
				<input id="check-in-date"
						type="date"
						name="check_in_date"
						v-model="checkInDate"
						@keyup="updateDates(0)"
						@change="updateDates(0)"
						required><br>
				
				<label for="check-out-date">Check out Date:</label>
				<input id="check-out-date"
						type="date"
						name="check_out_date"
						v-model="checkOutDate"
						@keyup="updateDates(1)"
						@change="updateDates(1)"
						required><br>
				
				<label for="hotel">Hotel:</label>
				<select id="hotel" name="hotel"  v-model="hotel" @change="updateRates()" required>
					<option value=""></option>
					<option value="Alpha">Alpha</option>
					<option value="Bravo">Bravo</option>
					<option value="Charlie">Charlie</option>
				</select>
				<pre>Number of days: {{numberOfDays}}</pre>
				<pre>Daily rate: R{{dailyRate}}</pre>
				<pre>Total: R{{total}}</pre>
				<button>Compare</button>
			</form>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="./js/main.js"></script>
	</body>
</html>